body {
  font-size: 16px;
  font-family: Garamond,arial, sans-serif;
}

h1 {
  font-size: 2rem;
  color: Green;
}

h2 {
  font-size: 1.75rem;
  color: orangered;
}

p {
  font-size: 1rem;
  color: brown;
}