.story-grid {
  display: flex;
  flex-direction: column;
  transition: 0.5s;

  @include large-mobile {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__loading-animation {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    height: 50px;
    width: 50px;
  }
}

.story {
  flex-basis: 100%;
  height: 420px;
  background-color: white;
  overflow: hidden;

  @include large-mobile {
    flex-basis: 50%;
  }
  @include tablet {
    flex-basis: 33.3333%;
  }
  @include desktop {
    flex-basis: 25%;
  }

  a {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
  }

  p {
    opacity: 0;
    transform: translateY(40px);
    width: 100%;
    height: 40%;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    line-height: 1.5;
    transition: 0.5s;
  }

  &:hover p {
    opacity: 1;
    transform: translateY(0);
  }
}