footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background: $site-background-color;

  @include desktop {
    justify-content: flex-start;
  }

  p {
    padding-left: 2rem;
    color: $footer-text-color;
    text-align: center;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: 0.9rem;
  }
  p span {
    text-transform: uppercase;
  }
}