footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  background: $site-background-color;

  p {
    color: $footer-text-color;
    text-align: center;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: 0.9rem;
  }
  p span {
    text-transform: uppercase;
  }
}