$site-background-color: #000;

$mobile-width: 600px;
$desktop-width: 1000px;

$base-font-family: 'Open Sans', arial, sans-serif;
$base-font-weight: 300;
$base-font-size: 16px;
$base-font-color: #ffffff;

$footer-text-color: #c2c2c2;
$footer-height: 4rem;